*{
    box-sizing: border-box;
}

.chat-panel {
    display:flex;
    flex-direction: column;
    width: 70vw;
    background-size: 20px 20px;
}

#messages{
    height: 80%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.5);
}

.conversation {
    background: white;
    border: none;
    text-align: left;
    padding-left: 2em;
    border-bottom: .5px solid #E9ECEF;
}

.title {
    margin: 0;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 0 .5em;
    font-weight: bold;
    font-size: 20px;
}

#message-input {
    display: flex;
    padding: 0 1em;
    align-items: stretch;
    margin: 0.5em;
}

#message-input textarea {
    border: 1px solid lightgrey;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: .4em;
    font-size: 1em;
}

.chat-button {
    border: 1px solid lightgrey;
    background: white;
    border-radius: 5px;
    margin: .5em;
    height: 40px;
}

.chat-button:hover:enabled {
    border: none;
    background: #212529;
    color: white;
}

.user-message, .other-message {
    display: flex;
    margin: .5em;
    flex-direction: column;
}

.user-message {
    align-items: flex-end;
}

.user-message .message {
    background: #495057;
    color: white;
}

.other-message {
    align-items: flex-start;
}

.other-message .message {
    background: #fdfdfd;
}

.message {
    padding: .8em;
    background: white;
    border: 1px solid lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    min-width: 15vw;
    max-width: 45vw;
}

.timestamp {
    font-size: .8em;
    color: grey;
    margin: .4em .8em .4em .8em;
}

.username {
    margin: 0 0 .4em 0;
    font-weight: bold;
    font-size: .9em;
}
